# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db
*.sqlite
*.sqlite3

# Node / Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
npm-debug.*
yarn-debug.*
yarn-error.*

# Env
.env
.env.local
